h2 {
  border: 2px solid pink;
  width: auto;
  height: 30px;
  text-align: center;


}
body {

  background-color: cyan;

}

.toRemove {
  display: inline-flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  width: 500px;
  height: 600px;

}
.gameBoard {
  background-color: green;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  align-content: center;
  width: 500px;
  height: 600px;
  position: relative;
  margin: 0 auto;
}

section {
  margin: 10px;
  border: 2px solid pink;
  background-color: white;
  width: 150px;
  height: 300px;

}
button {
  height: 40px;
  width: 20%;

  /* left: 200px; */
  /* bottom: 10px; */
  align-self: flex-end;

}
.candyDropper {
  /* //must add random starting position every level// */
  position: relative;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  animation-name: slide;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
 @keyframes slide {
  0% {
    left: 0px;
    top: 0px;
    background: red;
}
  25% {
    left: 238.5px;
    top: 0px;
    background: white;
  }
  50% {
    left: 475px;
    top: 0px;
    background: red;
  }
  75% {
    left: 238.5px;
    top: 0px;
    background: white;
  }

  100% {
    left: 0px;
    background: white;
  }
};

.dropperBox {
  height: 25px;
  width: 25px;

}

.walls {
  background-color: black;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  position: absolute;
  height: 55px;
  width: 500px;
  bottom: 0;
  /* align-self: flex-end;
  justify-content: space-around; */
  /* justify-content: flex-start; */

}
.wallLeft {
  position: absolute;
  background: maroon;
  width: 220px;
  height: 50px;
  left: 0px;

}
 .wallRight {
  position: absolute;
  background: maroon;
  width: 220px;
  height: 50px;
  right: 0px;

}
